<a href="https://colab.research.google.com/github/SarahLares/MD_Data_exploratory/blob/master/MD_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
url_graduados = 'https://raw.githubusercontent.com/SarahLares/MD_Data_exploratory/master/graduados.csv'
url_estudiantes = 'https://raw.githubusercontent.com/SarahLares/MD_Data_exploratory/master/estudiantes.csv'
url_b = 'https://raw.githubusercontent.com/SarahLares/MD_Data_exploratory/master/carrera_52.csv'
url_n = 'https://raw.githubusercontent.com/SarahLares/MD_Data_exploratory/master/carrera_53.csv'

In [4]:
grad = pd.read_csv(url_graduados,delimiter=';')
grad.columns

Index(['id', 'Fecha', 'MENCION'], dtype='object')

In [5]:
est = pd.read_csv(url_estudiantes,delimiter=';')
est.columns

Index(['id', 'letradi', 'tipodi_id', 'anoing', 'fechanac', 'sexo'], dtype='object')

Solo hay valores faltantes en los estudiantes de bioanálisis.

In [47]:
df_bioanalisis = pd.read_csv(url_b,delimiter=';')
df_bioanalisis.isnull().sum()

estudiante_id           0
codigo                  0
nombre                  0
uc                     26
notaf                   1
notad                   0
tipoexamen              0
seccion                 0
equivalenciainterna     0
nombre.1                0
ano                     0
nombre.2                0
dtype: int64

In [52]:
df_nutricion = pd.read_csv(url_n,delimiter=';')
df_nutricion.isnull().sum()

estudiante_id          0
codigo                 0
nombre                 0
uc                     0
notaf                  0
notad                  0
tipoexamen             0
seccion                0
equivalenciainterna    0
nombre.1               0
ano                    0
nombre.2               0
dtype: int64

Podemos eliminar la columna de las **uc** que posiblemente no sirvan de nada

In [48]:
df_bioanalisis.loc[df_bioanalisis.notaf.isnull()]

       estudiante_id      codigo  ...   ano                   nombre.2
22722         107780  0902003460  ...  2016  LICENCIADO EN BIOANÁLISIS

[1 rows x 12 columns]

Podemos observar que a uno le falta la nota final y que fue a reparación y sacó 04 entonces le voy a poner 04 en la **notaf**

In [0]:
df_bioanalisis['notaf'] = df_bioanalisis.replace(to_replace= np.nan,value = 4)

In [51]:
df_bioanalisis.isnull().sum()

estudiante_id           0
codigo                  0
nombre                  0
uc                     26
notaf                   0
notad                   0
tipoexamen              0
seccion                 0
equivalenciainterna     0
nombre.1                0
ano                     0
nombre.2                0
dtype: int64